body {
  font-family: 'Poppins', sans-serif;

  color: #48494a;
}
select {
  height: 100px;
  width: 150px;
  display: inline-block;
  text-align: right;
}
hr.rounded {
  border-top: 5px solid #40798C;
  opacity:0.3;
  border-radius: 5px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
.layout_padding {
  padding: 0 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 80px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #82A3A1;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.call_to-btn1 {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 80px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #00FFFF;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s ease 0s;
}


.hero_section .call_to-btn {
  padding: 12px 35px;
}

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
}

nav.navbar.navbar-expand-lg {

  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #2d2c2c;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #232323;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  height: 95vh;
  position: relative;
}

.top_container::before {
  content: "";
  position: absolute;
  width: 48%;
  height: 100%;
  background: url(../images/hero-bg.png);
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.top_container.sub_pages::before {
  background-size: 400px 200px;
  background-position: top left;
}

.top_container.sub_pages {
  height: 35vh;
}

.top_container.sub_page {
  height: auto;
}

.navbar-brand img {
  width: 25px;
  margin-right: 7px;
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #fefefe;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 75px;
}

.hero_detail-box {
  width: 45%;
}

.hero_img-container {
  width: 55%;
}

.hero_detail-box {
  color: #fefeff;
}

.hero_detail-box h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #fec913;
  font-weight: bold;
}


.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}


/* end hero section */


/* contact section */
.contact_section {
  background-image: url(../images/shape-2.png);
  background-repeat: no-repeat;
  background-size: 14%;
  background-position: left center;
}

.contact-form {
  padding: 25px;
  border-radius: 20px;
}

.contact-form input {
  border: none;
  outline: none;
  background-color: #dedee0;
  width: 100%;
  margin: 10px 0;
  padding: 7px 10px;
}

.contact-form .input_message {
  height: 120px;
}

.contact-form input::placeholder {
  color: #fff;
}

.contact-form button {
  border: none;
  outline: none;
  padding: 7px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #82A3A1;
  color: #fff;
}

/* end contact section */

/* call section */
.call_section h2 {
  text-align: center;
  margin: 15px 0;
}

.landing_section .number_heading {
  color: #fec913;
}

.landing_section p {
  text-align: center;
  margin-top: 15px;
}

/* end call section */

/* footer section*/

.footer_section {
  background-color: #B5BEC6;
  margin-top: 100px;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  height: 60px;
}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}

/* end footer section*/

/*part of changes in css made by Debi*/

 .rows {
   direction: rtl;
     display: flex;
     flex-wrap: wrap;
     margin-right: -10px;
     margin-left: 0px;
 }

  .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid .form-control{
    color: #495057;
        background-color: #fff;}

  .d-block {
      display: block!important;
  }
  .w-100 {
    width: 100%!important;
}


/*start side navbar Debi  3/3/2020*/

body #sidebar {
    float: right;
    left: auto;
      direction: rtl;

}
#sidebar .navbar-toggler:focus {
  outline-color: #d48a6e;
}
#sidebar.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #176864;
  color: #fff;
  text-align: right;
  flex-direction:  column ;
  width: 1rem;
  height: 100vh;
}

  #sidebar.navigation ul  {
    margin: -10px 0 -10px 0;
    position: relative;
    z-index: 2;
    list-style: none;
    left:0
  }

r.active {
    margin-left: -300px; }

  #sidebar ul.components {
    padding: 0;
    float: right;
    right :0
   }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 40px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        color: #f8b739; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #f8b739; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -300px; }
      #sidebar.active {
        margin-left: 0; } }

a[data-toggle="collapse"] {
  position: relative;
  }

.dropdown-toggle::after {
  position: relative;
  top: 60%;
  left : -20% ;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }
    #sidebar .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;

    }
    #sidebar .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.05rem solid rgba(255, 255, 255, 0.2);
      margin-top: 35px;
      display: block;
      width: 220px;
      height: 220px;

      margin: 10 auto;
    }
    #sidebar .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sidebar .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sidebar .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }


    .bg-primary {
      background-color: #176864 !important;
    }

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  right :0}
  .bg-primary {
    background-color: #176864 !important;
  }

  a:hover, a:focus, a:active {
    color: #824027;
  }
/*end side navbar */

/*Debi 10/3/2020*/
/*start drop-down */
.customClassForDropDown
    {
       height: 200px;
       overflow-y: auto;
    }
.drop-down {
  left: auto;
  direction: rtl;
 position: relative;
 width: 200px;
 margin-top: 0;
 }
 .drop-down select {
 display: none;
 }

 .drop-down .select-list {
 position: absolute;
 top: 0;
 z-index: 1;
 margin-top: 40px;
 padding: 0;
 background-color: #595959;
 }
 .drop-down .select-list li {
 display: none;
 }
 .drop-down .select-list li span {
 display: inline-block;
 min-height: 40px;
 min-width: 80px;
 width: 100%;
 padding: 5px 15px 5px 35px;
 background-color: #595959;
 background-position: left  ;
 background-repeat: no-repeat;
 font-size: 16px;
 text-align: right;
 color: #FFF;
 opacity: 0.7;
 box-sizing:  content-box;
 }
 .drop-down .select-list li span:hover,
 .drop-down .select-list li span:focus {
 opacity: 1;
 }

 .custom-select{
   left: auto;
  width: 210px;
  margin-bottom: auto;
 }
/*end drop-down*/

/*start scroll bar -warpper -Debi 14.03.2020 */
.wrapper{
width:200px;
height: 150px;
}
/*end scroll bar */
.modal-header {
  left: auto;
  direction: ce;
  position: relative;
}
/*exit dialog message*/
/*Debi input style teacher page*/
.contact-form2 input {
  outline: none;
  width: 100%;
  margin: 10px 0;
  padding: 7px 10px;
}

.btn-style {
    margin-top: 20px;
    margin-right: 80px;

}
/*Rename upload button  */
.file-upload {
    display: none;
}
/*start login page Debi*/
.login-container{
    margin-bottom: 5%;
    margin-left: 25%;


}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 10px 0 rgba(0, 0, 0, 0.19);

}
.login-form-1 h3{
    text-align: center;
    color: #333;
    left: auto;
    left: auto;
    direction: rtl;
   position: relative;
}

.login-container form{
    padding: 10%;

}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    left: auto;
    direction: rtl;
   position: relative;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    left: auto;
    direction: rtl;
   position: relative;
}

/*end Login page*/

/*start multiselect Debi*/
.selectpicker {
  direction: rtl;
  text-align: right;
}

.dropdown-toggle {
  border-color: #ced4da;
}

.dropdown-item {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right;
}

.optgroup {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right;
}

/*end multiselect */
/*strat button yes/no Debi*/
.justify-content-center1 {
  padding: 7px 90px;
}

/*end button yes/no */
.nav-tabs li a{
  display:inline-block;
  padding:5px;
  border:1px solid #eee;
}
/*start tab style Debi*/
.tabContainer  {

	padding:15px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tabs{
	overflow:hidden;
}
.tabs > ul{
	font: 1em;
	list-style:none;
}
.tabs > ul > li {
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:right;
	color:#333;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	border: 1px #ccc solid;
}
.tabs > ul > li:hover {
	color:#ccc;
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}
.tabs > ul > li.tabActiveHeader {
	color:#FFF;
	color: #333background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}
.tabscontent {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
	border: 1px #ccc solid;
}
.gototab {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 80px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #82A3A1;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s ease 0s;
}
/*end tab style*/
